# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# React/TypeScript
build/
dist/
.cache/
*.tsbuildinfo
*.webp
*.env
.env.*
!.env.example

# Solidity (Truffle, Hardhat, Foundry)
artifacts/
cache/
typechain/
coverage/
coverage.json
gasReporterOutput.json

# OS files
.DS_Store
Thumbs.db

# Others
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.orig
